.ios-icon {
	font-size: 18px;
	color: #fff;
	font-family: texticons;
}
.ios-title{
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.ios-lock{
	position: absolute;
	left: 40px;
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}
.ios-title-box{
	align-items: center;
	text-align: center;
	border-width: 2px;
	border-color: #fff;
	border-style: solid;
	padding: 2px;
}
.ios-srcTitle{
	font-size: 12px;
	color: #fff;
}
.ios-sm-title{
	font-size: 6px;
	color: #fff;
}
.ios-big-title{
	font-size: 28px;
	color: #fff;
}
.ios-big-icon{
	font-size: 52px;
	color: #fff;
	font-family: texticons;
}